header {
   width: 100%;
   height: 300px;
   border: 1px solid black;
   background: url('../img/ed63f910-4ed8-4837-a710-6c3a680cc020.png') no-repeat center;
   background-color: rgba(8, 8, 129, 0.856);
}

.container {
   /* border: 1px solid black; */
}

h1 {
   color: white;
   text-transform: uppercase;
   margin-top: 20px;
}

header span {
   font-size: 18px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header a {

   display: inline-block;
   text-align: center;
   padding: 5px 20px;
   border-radius: 10px;
   text-decoration: none;
   color: white;
   margin-top: 15px;
   background-color: rgb(214, 8, 8);
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   opacity: 85%;
   transition: 0.5s ease;
}

header a:last-child {
   margin-left: 15px;
   background-color: rgb(2, 2, 202);
}

header a:hover {
   /* box-shadow: 1px 1px 10px white; */
   opacity: 100%;
   transition: 0.5s ease;
}

.header__footer img {
   width: 80px;
   height: 90px;

}

.header__footer {
   color: rgba(6, 6, 114, 0.788);
   font-size: 15px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight: 600;
}

.header__footer .row .col {
   border-right: 1px solid rgba(0, 0, 0, 0.432);
   margin: 10px 0px;
}

h2 {
   color: rgba(10, 10, 99, 0.795);
   font-weight: 700;
   display: block;
   padding-top: 20px;
}

main {
   background-color: rgba(226, 226, 226, 0.637);
}

.main__content .col {
   width: 260px;
   height: 220px;
   background-color: white;
   margin: 10px;
   padding: 0px;
   border-radius: 20px;
   overflow: hidden;
   text-align: center;
   transition: 1s ease;
   cursor: pointer;
}

.main__content .col:hover {
   transition: 1s ease;
   filter: blur(2px);
}

.main__content img {
   width: 100%;
   height: 150px;
   margin: 0px;
}

.main__content .col span {
   margin-top: 20px;
   display: block;
   color: rgba(10, 10, 99, 0.795);
   font-weight: 500;
}

.main__child {
   background-color: rgba(8, 8, 129, 0.856);
   height: 200px;
   width: 100%;
   margin: 20px 0px;
}

h3 {
   display: block;

   width: 500px;
   font-weight: 700;
   font-size: 25px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: white;
   text-align: center;
   padding: 20px 0px;
   position: relative;
   margin: 20px auto;
}

h3::before {
   content: '';
   display: inline-block;
   width: 150px;
   height: 2px;
   background-color: rgba(189, 187, 187, 0.671);
   position: absolute;
   top: 50%;
   left: -140px;
   border-radius: 10px;
}

h3::after {
   content: '';
   display: inline-block;
   width: 150px;
   height: 2px;
   background-color: rgba(189, 187, 187, 0.671);
   position: absolute;
   top: 50%;
   right: -140px;
   border-radius: 10px;
}

.block__input select {
   width: 20%;
   padding: 10px 15px;
   font-weight: 500;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   border-radius: 20px;
   margin: 10px 15px;
   min-width: 120px;
}

.block__input input {
   width: 20%;
   padding: 10px 15px;
   font-weight: 700;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: white;
   text-align: center;
   background-color: orange;
   box-shadow: none;
   border: none;
   border-radius: 20px;
   transition: 0, 5s ease;
   min-width: 120px;
}

.block__input input:active {
   transition: 0, 5s ease;
   border: 1px solid black;
   color: black;
   box-shadow: 1px 1px 5px black;
}


.arbeit .col {
   display: flex;
   align-items: center;
   border-radius: 50px;
   background-color: rgba(8, 8, 129, 0.856);
   color: white;
   margin: 0px 10px;
   padding: 2px 15px;
}

h4 {
   margin: 3px 10px;
}